.colorad1{
    background-color:rgba(62, 160, 245, 0.705);
    margin-top: 0px;
}

.colorad2{
    background-color:rgba(250, 230, 56, 0.959);
}

.colorad3{
    background-color:rgba(228, 55, 55, 0.966);
}