<div class="row">
  
  
    <div class="container colorad1 col-lg-4 text-center text-white ">
      <br>
      <h2>MODULO ADMINISTRATIVOs</h2>
      <br>
      <br>
      <br>
      <br>
    </div>  
    
    
    <div class="container colorad2 col-lg-4 text-center text-grey">
      <br> 
      <h2>MODULO CONTABLEs</h2>
      <br>
      <br>
      <br>
      <br>
    </div>
    
    
    <div class="container colorad3 col-lg-4 text-center text-white">
      <br>  
      <h2>MODULO DE GOBERNAZAs</h2>
      <br>
      <br>
      <br>
      <br>
      <br>
    </div>
  
  </div>