
<footer class="footer footer-expand-lg footer-dark bg-dark bg-inverse text-center text-grey">

  <div class="row fotter1" >
  
  
    <div  class="container colorad col-lg-4 text-center ">
     <div>
  
     </div>

      <p>Gobernaciñon de Cundinamarca</p>
      <p>NIT del departamento de cundinamarca</p>
      <p>Dirección: Calle 26 No. 51-53, Bogotá, Colombia.</p>
      <p>PVX: (57)1749000 - contactenos@cunjuntas.gov.co<p>
      <p>Horario de atención: Lunes a Viernes 8:00 am - 4:00 pm<p>
      <p>Linea de atención: 018000911899, Codigo Postal: 8541614<p>
    </div>
    
    
    <div class="col-lg-4 text-center ">
      <h3>HOla soy h3</h3>
    </div>
    
    
    <div class="col-lg-4 text-center ">
        <h3>Información Contacto</h3>
            <div class="">
                <img src="icon/house.png">
                <label>Calle 3 No. 9 - 32, Pacho Cundinamarca / Colombia</label>
            </div>
            <div class="">
              <img src="icon/smartphone.png">
              <label>Telefono: 3004552507</label>
            </div>
            <div class="">
              <img src="icon/contact.png">
              <label>cunjuntas@gmail.com</label>
            </div>
       </div>
  </div>

</footer>




